<p id="notice"><%= notice %></p>

<p>
  <strong>Ip:</strong>
  <%= @statistic.ip %>
</p>

<p>
  <strong>Click:</strong>
  <%= @statistic.click %>
</p>

<%= link_to 'Edit', edit_statistic_path(@statistic) %> |
<%= link_to 'Back', statistics_path %>
